<template>
  <section class="container">
    <nuxt-link class="button is-default is-pulled-right	" to="/invoices">Back</nuxt-link>
    <h2 class="title is-3" v-if="loaded">
      Invoice {{invoice.fieldData.invoiceNumber}}
    </h2>

    <b-table
        :data="lineItems"
        :paginated="false"
        :per-page="perPage"
        :current-page.sync="currentPage"
        :pagination-simple="true"
        :sort-icon="sortIcon"
        :sort-icon-size="sortIconSize"
        >

        <template slot-scope="props">
            <b-table-column field="description" label="Description"  sortable>
                {{ props.row.description }}
            </b-table-column>
            <b-table-column field="price" label="Price"  sortable numeric>
                {{ props.row.price | currency }}
            </b-table-column> 
            <b-table-column field="qty" label="Qty"  sortable numeric>
                {{ props.row.qty }}
            </b-table-column>
            <b-table-column field="extendedPrice" label="Total"  sortable numeric>
                {{ props.row.extendedPrice | currency }}
            </b-table-column> 
        </template>
    </b-table>


  </section>
</template>

<script>
import {mapState} from 'vuex'
import axios from 'axios'

export default {
  name: "invoice",
  middleware:['protected'],
  mounted(){
    this.$axios.get('/api/invoices/' + this.$route.params.id)
      .then(({data}) => {
        this.invoice = data.response.data[0] 
        this.loaded = true
      })
      .catch((e) => {
        this.$buefy.snackbar.open({
          message: e.response.data.response,
          type: 'is-danger'
        })
      })
  },
  data: function(){
    return{
      loaded: false,
      invoice: {},
      currentPage: 1,
      defaultSortDirection: 'asc',
      sortIcon: 'arrow-up',
      sortIconSize: 'is-small',
      currentPage: 1,
      perPage: 5
    }
  },
  filters: {
    currency: function(value){
      if( value ){
        return "$" + value.toFixed(2)
      }else{
        return null
      }
    }
  },
  computed: {
    ...mapState(['user']),
    lineItems: function(){
      if( !this.invoice.portalData ){
        return []
      }
      var portal = "invoice__INVOICE_LINE_ITEM__invoiceId__cre"
      return this.invoice.portalData[portal].map((line)=>{
        return {
          price: line[portal+'::price'],
          qty: line[portal+'::qty'],
          extendedPrice: line[portal+'::extendedPrice'],
          description: line[portal+'::description']
        }
      })
    }
  }
}
</script>
