<template>
  <section class="container">
    <h2 class="title is-3">
      Welcome {{user.username}}
    </h2>
    <h3 class="subtitle is-6 has-text-grey">
      Here are your invoices
    </h3>


    <b-table
        :data="invoices"
        :paginated="true"
        :per-page="perPage"
        :current-page.sync="currentPage"
        :pagination-simple="true"
        :sort-icon="sortIcon"
        :sort-icon-size="sortIconSize"
        >

        <template slot-scope="props">
            <b-table-column field="fieldData.invoiceNumber" label="Invoice #"  sortable>
                <nuxt-link :to="'/invoices/' + props.row.recordId">{{ props.row.fieldData.invoiceNumber }}</nuxt-link>
            </b-table-column>
            <b-table-column field="fieldData.date" label="Date"  sortable>
                {{ props.row.fieldData.date }}
            </b-table-column>            
            <b-table-column field="fieldData.notes" label="Notes"  sortable>
                {{ props.row.fieldData.notes }}
            </b-table-column>     
            <b-table-column field="fieldData.total" label="Total"  sortable numeric>
                {{ props.row.fieldData.total | currency }}
            </b-table-column>     
            <b-table-column field="fieldData.paid" label="Paid"  sortable numeric>
                {{ props.row.fieldData.paid | currency }}
            </b-table-column>      
            <b-table-column field="fieldData.balance" label="Balance" sortable numeric>
                {{ props.row.fieldData.balance | currency }}
            </b-table-column>  
            <b-table-column label="" width="10">
                <button @click="openModal(props.row.fieldData.balance)" class="button is-success is-small">Pay Now</button>
            </b-table-column>  
        </template>
    </b-table>


  </section>
</template>

<script>
import {mapState} from 'vuex'
import axios from 'axios'
import Modal from '~/components/Modal'

export default {
  name: "invoices",
  middleware:['protected'],
  mounted(){
    this.$axios.get('/api/invoices')
      .then(({data}) => {
        this.invoices = data.response.data 
      })
  },
  data: function(){
    return{
      invoices: [],
      currentPage: 1,
      defaultSortDirection: 'asc',
      sortIcon: 'arrow-up',
      sortIconSize: 'is-small',
      currentPage: 1,
      perPage: 5
    }
  },
  filters: {
    currency: function(value){
      if( value ){
        return "$" + value.toFixed(2)
      }else{
        return null
      }
    }
  },
  computed: {
    ...mapState(['user'])
  },
  methods: {
    openModal: function(balance) {
                this.$buefy.modal.open({
                    parent: this,
                    props: {balance: balance},
                    component: Modal,
                    hasModalCard: true,
                    customClass: 'custom-class custom-class-2'
                })
            }
  }
}
</script>
