<template>
  <form>
                <div class="modal-card" style="width: auto">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Pay Now</p>
                    </header>
                    <section class="modal-card-body">
                        <b-field label="Balance">
                            <b-input
                                type="text"
                                :value="balance"
                                required>
                            </b-input>
                        </b-field>
                    </section>
                    <footer class="modal-card-foot">
                        <button class="button" type="button" @click="$parent.close()">Close</button>
                        <button class="button is-success" @click="$parent.close()">Pay Now</button>
                    </footer>
                </div>
            </form>
</template>

<script>
export default {
  props: {
    balance: {
      type: String,
      required: true
    }
  }
}
</script>

<style scoped>
.modal-card-foot{
    display: flex;
    justify-content: space-between;
}
</style>
