<template>
  <div>
    <b-navbar type="is-light">
        <template slot="brand">
            <nuxt-link class="navbar-item" to="/">DB Services</nuxt-link>
        </template>
        <template slot="start">
            <nuxt-link class="navbar-item navigation" to="/about">About</nuxt-link>
            <nuxt-link class="navbar-item navigation" to="/invoices">Invoices</nuxt-link>
        </template>

        <template slot="end">
            <b-navbar-item tag="div">
                <div class="buttons">
                    <nuxt-link v-if="!user.loggedIn" class="button is-primary" to="login">
                        Log in
                    </nuxt-link>
                    <b-button v-else class="button is-default" @click="logout">
                        Log Out
                    </b-button>
                </div>
            </b-navbar-item>
        </template>
    </b-navbar>

    <section class="main-content">
      <nuxt />
    </section>

    <footer class="default-footer footer">
      <div class="content has-text-centered">
      DB Services - Serving FileMaker customers around the world since 2003!</br>
      © Copyright 2003-2019 | All Rights Reserved | 1-888-488-0191
      </div>
    </footer>
  </div>
</template>

<script>
import {mapState, mapMutations} from 'vuex'

export default {
  data () {
    return {
      
    }
  },
  computed: {
    ...mapState([
      'user'
    ])
  },
  methods: {
    ...mapMutations([
      'SET_USER'
    ]),

    logout: async function(){
      try{
        var response = await this.$axios.get('api/logout')
        this.SET_USER({})
        this.$router.push('/')
      }catch(e){
        console.log(e)
      }
      
    }
  }
}
</script>

<style>

.main-content{
  padding-top: 60px;
}

.navigation.nuxt-link-active{
  color: #7957d5 !important;
}

.default-footer{
  margin-top: 2em;
}

page-enter-active, .page-leave-active {
  transition: opacity .3s
}
.page-enter, .page-leave-active {
  opacity: 0
}
</style>
