<template>
  <section id="aboutpage" class="container">

  <h2 class="title is-3">
      About DB Services
    </h2>
    <h3 class="subtitle is-6 has-text-grey">
      We are a team of analysts, developers, and designers focused on creating custom databases to support and improve your organization’s workflow.
    </h3>
    <hr>

      <h1 class="title">
      Customized Around You
      </h1>
      <p>
      Every organization is unique and, in turn, needs a database system to support its unique processes. Too often, we come across organizations that are using off-the-shelf software that forces them to adjust their workflow to fit the program’s one-size-fits-all system design. Other times, we see businesses using a combination of spreadsheets, email, paper files and accounting software that causes redundancies and a lack of transparency making it difficult to manage as the organization grows.</p>

<p>Our seasoned developers are able to tackle any FileMaker project by working collectively as a team versus using subcontractors masked as employees. You will experience a reliable team who has the talent to solve any challenge, and a culture designed around customer service and building lasting relationships. We find this sets us apart from other companies.</p>

<p>As a FileMaker partner and founding member of the FileMaker Partner Council, we have access to pre-released versions of the software and insight into the direction of the executives at FileMaker. We leverage this knowledge to design and build systems that are aligned with the roadmap of the FileMaker platform and utilize the latest technologies to build systems that last.
      </p>
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'AboutPage',

  components: {
    Card
  }
}
</script>

<style scoped>
#homepage{
  max-width: 960px !important;
}
</style>
