<template>
  <section id="homepage" class="container">


      <h1 class="title">
        Welcome!
      </h1>
      <h2 class="subtitle">
        This is the homepage
      </h2>

      <img src="~/assets/fog.jpg"/>
 
  </section>
</template>

<script>
import Card from '~/components/Card'

export default {
  name: 'HomePage',

  components: {
    Card
  }
}
</script>

<style scoped>
#homepage{
  max-width: 960px !important;
}
</style>
