<template>
  <section class="container">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Login
          </p>
      </header>
        <div class="card-content">
        
        
        <b-message type="is-danger"  v-if="$route.query.message">
            {{$route.query.message}}
        </b-message>

        <form @submit.prevent="submit">
          <b-field label="Username">
              <b-input v-model="username" maxlength="30"></b-input>
          </b-field>

          <b-field label="Password">
              <b-input type="password"
                  v-model="password"
                  password-reveal>
              </b-input>
          </b-field>

          <button class="button is-primary" >Login</button>
        </form>
        </div>
      </div>
  </section>
</template>

<script>
import Card from '~/components/Card'
import {mapMutations} from 'vuex'

export default {
  name: 'LoginPage',
  data: function(){
    return{
      username: null,
      password: null
    }
  },
  methods: {
    ...mapMutations([
      'SET_USER'
    ]),
    submit: async function(){
      try{
        var res = await this.$axios.post('/api/login', {username: this.username, password: this.password})
        if( !res.data.loggedIn ){
          throw res.data.error
        }
        this.SET_USER(res.data)
        this.$buefy.snackbar.open(`Logged In Successfully`)
        let redirect = this.$route.query.redirect || "index"
        console.log(redirect)
        this.$router.push({
          name: redirect
        })
      }catch(e){
        console.log(e)
        this.$buefy.snackbar.open({
          message: e,
          type: 'is-danger'
        })
      }
    }
  }
}
</script>


